.text-bg-dark .lays{
    height: 20vh;
    /* position: relative;
    padding-top: 10px; */
    padding-top: 250px;
    background-color: transparent;
}
.text-bg-dark .lays .btn{
    border: 3px solid white;
    color:white;
}
.btns{
    background-color:#1754a1;
    border-radius: 5px;
    height: 50px;
    padding-left: 50px;
    padding-right: 50px;
    color: white;
}